/* .app {
    background-color: rgba(0, 0, 0, 0.75);
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    margin: 7% auto;
    flex-direction: column;
    padding-bottom: 5%;
  } */
  .app {
  background-color: rgba(0, 0, 0, 0.75);
  width: 800px;
  min-height: max-content;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  
  display: flex;
  justify-content: space-evenly;
  margin: 10% auto;
} 
  .button1{
    width: 16em;
    font-size: 16px;
    color: #ffffff;
    background-color:#D60707;
    border-radius: 10px;
    display: grid;
    padding: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 30px 10px 0px;
    
  }
  .button1:hover{
      background-color: #000;
  }
  .button2{
    width: auto;
    font-size: 16px;
    color: #fff;
    background-color:#D60707;
    border-radius: 10px;
    display: grid;
    padding: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1% 20%;
  }
  .question-section {
    padding: 0.5em;
    min-width: 300px;
    width: 100%;
    font-family: "Verdana", cursive, sans-serif;
      color: #fff;
    }
    
    .question-count {
      margin-bottom: 20px;
      margin-left: 0px;
    }
    
    .question-count span {
      font-size: 28px;
    }
    
    .question-text {
      /*margin: 5% 5%;  */
      font-size: 25px;
      margin-bottom: 5%;
    }
    .score-section {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      align-items: center;
      font-family: "Verdana", cursive, sans-serif;
      color: #fff;
      margin: 5% 5%;
    }
    